body {
    background-color: white;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

nav {
    margin-right: 20px;
    font: "Lato";
    background-color: #efefef;
    font-weight: bold;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: navy;
}

header {
    padding: 10px;
}

.h1-wrap {
    min-height: 70px;
    padding-top: 60px;
}

h1 {
    display: block;
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.first-name {
    width: 130px;
}

.kanye {
    width: 30px;
}

.last-name {
    width: 130px;
}

.hover {
    color: #F31e09;
}

main {
    max-width: 1050px;
    margin: 0 auto;
}

.bio {
    display: flex;
    align-content: flex-start;
    padding: 20px;
}

.profile-pic {
    width: 82px;
    height: 100%;
    margin-right: 10px;
}

.vision-statement {
    text-align: left;
    line-height: 21px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    padding: 20px;
}

article a {
    text-decoration: none;
    color: #333;
}

article a:hover {
    text-decoration: underline;
}

.image {
    display: block;
}

.article-image {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    min-height: 50px;
    max-width: 1050px;
    border-top: 1px solid #F31e09;
    margin: 0 auto;
}

footer p {
    margin: 0;
    line-height: 30px;
}

input {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
}

input[type="submit"] {
    background: navy;
    color: white;
}

@media handheld and (max-width: 400px) {
    body {
        width: 80%;
    }
    .grid {
        display: block;
    }
    .article {
        width: 100%;
        box-sizing: border-box;
        border: none;
    }
}