body {
    background-color: white;
    font-family: 'Playfair Display', serif;
}

article a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}


.h1-wrap {
    min-height: 70px;
}

h1 {
    display: block;
    color: black;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.first-name {
    width: 130px;
}

.kanye {
    width: 30px;
}

.last-name {
    width: 130px;
}

.hover {
    color: plum;
}

.profile-pic {
    width: 82px;
    display: block;
    align-content: center;
}

.vision-statement {
    text-align: center;
}
nav {
    color: black;
    margin-right: 20px;
    font: "Lato";
   background-color: lightgray;
    font-weight: bold;
    position: fixed;
    width: 100%;
	left: 0;
	top: 0;
    font-size: 20px;
    text-decoration: none;
    
	/* transition: all 2s ease-in-out; */
}

/* .menu a.active {
    background-color: yellow;
    color: greenyellow;
} */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    padding: 20px;
}

.image {
    display: block;
}

.article-image {
    width: 100%;
}

footer {
    margin: 20;
    background-color: plum;
}

input {
    border: 0;
    padding: 10px;
    font-size: 12px;
}

input[type="submit"] {
    background: darkmagenta;
    color: white;
}

p {
    text-align: right;
}
/* media query fixed size */

/* resize images using preview */